.dialog {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
}

.head {
  border-bottom: solid 1px black;
}

.Avatar {
  width: 50px;
  height: 50px;
}

.select {
  display: flex;
  justify-content: center;
  span {
    margin: 5px 5px 0;
    cursor: pointer;
  }
}

.red {
  border: 1px red solid;
  pointer-events: none;
}
