.head {
  color: white;
  display: flex;
  justify-content: space-between;
  div {
    width: 100%;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    cursor: pointer;
    div {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  margin: 10px;
}
