.hello {
  background-color: red;
}

.span15 {
  display: inline-block;
  width: 15%;
}

.span30 {
  display: inline-block;
  width: 30%;
}
.status {
  border: 1px solid orange;
  min-width: 50px;
  min-height: 10px;
  display: inline-block;
}
