.Avatar {
  width: 50px;
  height: 50px;
}
@mixin flexSetting {
  display: flex;
  align-items: center;
}
.flex {
  @include flexSetting;
  margin-top: 5px;
  .line {
    @include flexSetting;

    *:nth-child(1) {
      margin-left: 5px;
      width: 10%;
    }
    *:nth-child(2) {
      margin-left: 50px;
    }
  }
}

.buttonPost {
  margin: 2px;
  width: 80px;
}
