.form_summary_error {
  border: 2px red solid;
  padding: 5px;
  color: orange;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  background-image: url(./../../assets/img/bacground_login.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .form {
    border: 1px solid rgb(228, 188, 109);
    background-color: rgb(144, 137, 123);
    border-radius: 5px;
    width: 220px;
    height: 105px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .field {
      margin: 5px;
    }
  }

  .login {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    .buttonLogin {
      margin: 2px;
      width: 80px;
      height: 20px;
    }
  }
}
